<div class="navbar-fixed">
  <nav class="grey darken-3">
    <div class="container">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"><i class="fas fa-film"></i>Movie Rating</a>

        <ul class="right hide-on-med-and-down">
          {{#if user}}
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/movie/search">Search</a></li>
          <li><a href="/auth/logout">Logout</a></li>
          {{else}}
          <li><a href="/login">Login</a></li>
          {{/if}}
        </ul>

      </div>
  </nav>
  </div>
</div>