<h1>Dashboard</h1>
<div class="row">
  <form action="/movie/search" method="GET" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input type="text" id="movieTitle" name="movieTitle">
        <label for="movieTitle">Search</label>
      </div>
    </div>
    <button class="btn grey darken-1" type="submit">submit</button>
  </form>
</div>