<h1>Welcome</h1>
<p>Welcome to INSERT NAME HERE</p>
<p>Create a group or join one and rate movies with your friends!</p>
<a class="btn red darken-1" href=" /auth/google "><i class="fab fa-google left"></i>Login with google</a>