<h1>This page is to add a new movie to the database</h1>
<p>This page will allow user to search for movie using OMDB database</p>
<p>When movie is selected by user, it will be added to the database</p>
<p>User will then be redirected to page to rate the movie</p>